DirectoryIndex index.html index.htm index.shtml index.php index.cgi
Options -Indexes
AuthUserFile /home/schwarzekatze/www/YUKI/.htpasswd
AuthType Basic
AuthName "Web access"
Satisfy all
Order deny,allow
